html{
  font-family: 'arial';
  cursor: default;
}

body{

	background-image :url("../images/bg_1.jpg");
	background-color: #cccccc;
}


a{
  text-decoration: none;
  color: black;
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  position: inherit;
  z-index: 99;
}

li{
  list-style: none;
}

ul.child>li:hover{
  text-decoration: underline;
}

ul.child{
  display: none;
  width: 100%!important;
  font-family: 'arial';
  padding-top: 10px;
  text-decoration: none;
}

.logo{
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px;
  background: white;
  color:  #FFCBA4;
  font-family: 'Ubuntu', sans-serif;
}

ul.parent > li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px;
  background: white;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

a:hover{
  transition: 0.1s;
  cursor: pointer;
  color:  #FFCBA4;
}


 .header  h1 {
  color: white;
  text-align: center;
  padding-top: 160px;
  z-index: -1;
}

.buttons{
  margin-left: 330px;
}

button:focus{
    background-color:white;
}


.button {
  background-color: #FFCBA4;
  margin: 4px 15px;
  border: none;
  color: #808080;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 45px;
  cursor: pointer;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.container {
  margin-left: 630px;
  margin-bottom: 10px;
  margin-top: 30px;

}

.container1{
  font-size: 13px;
  color: white;
  margin-left: 70px;
}

input[type=number]{
  box-sizing: border-box;
}

.form1{
  margin-top: 20px;
}

h2 {
  color: 	#A9A9A9;
  margin-top: 20px;
  margin-left: 200px;
}

p {
  font-size: 13px;
  color: white;
  text-align: left;
  margin-top: 0px;
}

#dedication, #CardType {
  margin-top: 12px;
  margin-left: 200px;
}

.container3{
  font-size: 13px;
  color: white;
  margin-left: 200px;
  display: inline-block;
  margin-top: 12px;
}

.container4{
  font-size: 13px;
  color: white;
  margin-left: 200px;
  display: block;
  margin-top: 12px;
}

.container5{
  font-size: 13px;
  color: white;
  margin-left: 200px;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

label[for=fname]{
  display: inline-block;
  width: 80px;
  text-align: left;
}

label[for=lname]{
  display: inline-block;
  width: 80px;
  text-align: left;
}

label[for=email]{
  display: inline-block;
  width: 80px;
  text-align: left;
}

.container6{
  font-size: 13px;
  color: white;
  margin-left: 200px;
}

textarea{
  margin-top: 12px;
}

.container7{
  font-size: 13px;
  color: white;
  margin-left: 200px;
  display: inline-block;
  margin-top: 12px;
}

label[for=cnumber]{
  display: inline-block;
  width: 80px;
  text-align: left;
}

.container8{
  font-size: 13px;
  color: white;
  margin-left: 200px;
  display: inline-block;
  margin-top: 12px;
}

label[for=cname]{
  display: inline-block;
  width: 80px;
  text-align: left;
}

.button6 {
  background-color:	#5DBB63;
  text-align: center;
  cursor: pointer;
  margin-left: 100px;
  margin-bottom: 100px;
  text-decoration: none;
  display: inline-block;
  height: 24px;
  width: 60px;
  border-radius: 8px;

}

.conntents{
  position: fixed;
  left: 250px;
}
